.container {
    background-image: url('/auraazul.jpg'); 
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    height: 110vh;
    margin: 5% auto;
    background-color:#ebebeb;
    border-radius: 50px;
    box-shadow: #9c56ca 0px 0px 30px;
}

.container h1 {
    color: #000000;
    font-size: 25px;
    text-align: center;
}

.container p {
    color: #000000;
    padding: 16px;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
}

.email p {
    color: #000000;
    padding-left:b 20px;
    font-size: 18px;
    margin-top: 25px;
    text-align:justify;
}

.email input {
    background-color:#ccc8d8;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin: 10px;
}
.logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8%;
}

.logincontainer button {
   background-color: #44a0fc;
	border: 0;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 16px;
	margin: 10px auto;
	padding: 10px;
	width: 80%;
}

.footer {
    display: flex;
    align-items: center;
}

.footer h4 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10%;
}