.container {
	background-image: url('/auraazul.jpg'); 
    width: 45%;
    height: 105vh;
    margin: 5% auto;
    background-color:#ebebeb;
    border-radius: 50px;
    box-shadow: #9747cc 0px 0px 30px;
}
.profile img {
    width: 40%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.profile h1 {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    text-align:left;
    font-size: 30px;
    margin-top: 10%;
    padding: 20px;
}

.profile p {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    text-align: justify;
    margin: 20px;
    font-size: 15px;
}
.gostos h1 {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    text-align:left;
    font-size: 30px;
    margin-top: 10%;
    padding: 20px;
}

.gostos p {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    text-align: justify;
    margin: 20px;
    font-size: 15px;
}

.info p {
    font-family:'Times New Roman', Times, serif;
    color: #000000;
    text-align: center;
    font-size: 15px;
    color: #1834d3;
}

.footer h4{
    text-align: center;
    margin: 13%;
}