
.container {
	background-image: url('/auraazul.jpg'); 
    width: 50%;
    height: 130vh;
    margin: 5% auto;
    background-color:#ebebeb;
    border-radius: 50px;
    box-shadow: #9747cc 0px 0px 30px;
}

.login h1 {
	font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;
	padding-top: 20px;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

.login p {
    color: #000000;
    text-align: center;
    font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.login a {
	font-family: Arial, Helvetica, sans-serif;
    color: #1201ff;
    text-decoration: underline;
    font-weight:unset;
}

.email p {
	font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 25px;
}

.email input {
    background-color:#ccc8d8;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 85%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 18px;
    margin: 10px;
}

.password p {
	font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 25px;
}

.password input {
	background-color:#ccc8d8;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 85%;
    height: 55px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 18px;
    margin: 10px;
}

.logincontainer {
	font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8%;
}

.loginbutton {
	background-color: #44a0fc;
	border: 0;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 16px;
	margin: 10px auto;
	padding: 10px;
	width: 80%;
}

.information {
    font-size: 14px;
    margin-top: 10px;
    color: #4993e2;
    text-decoration: none;
}

.footer h4{
	font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10%;
}
.information {
    font-size: 14px;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.footer h4{
    text-align: center;
    margin: 5px
}
