.container {
    width: 50%;
    background-image: url('/auraazul.jpg'); 
    height: 130vh;
    margin: 2% auto;
    background-color:#ebebeb;
    border-radius: 50px;
    box-shadow: #7d07cc 0px 0px 30px;
}

.login h1 {
    color: #000000;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

.login p {
    color: #000000;
    text-align: center;
    font-size: 12px;
}

.login a {
    color: #0476d0;
    text-decoration: underline;
    font-weight: bold;
}

.email p {
    color: #000000;
    padding-left: 20px;
    font-size: 18px;
    margin-top: 25px;
    text-align:justify;
}

.email input {
     background-color:#baaddf;
    font-family:'Courier New', Courier, monospace;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 20px;
    margin: 10px;
}

.password p {
    color: #000000;
    padding-left: 20px;
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
}

.password input {
    background-color:#baaddf;
    font-family:'Courier New', Courier, monospace;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 20px;
    margin: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginbutton {
    background-color: #0476d0;
    color: #ffffff;
    width: 30%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    margin: 5%;
}

.information {
    font-size: 14px;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.footer h4{
    text-align: center;
    margin: 10%;
}